main{
    display: flex;
    flex-direction: column;
}

.photo-menu{
    margin-bottom: -5rem;
    img{
        width: 100%;
        object-fit: cover;
    }
}

.menu{
    background-color: $background-light;
    border-radius: 2.5rem;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            margin-left: 1.5rem;
        }
        &__heart{
            margin-right: 3.5rem;
            font-size: 2.5rem;
        }
        i{
            font-weight: 900;
        }
    }
    &__detail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-weight: 300;
        align-self: flex-start;
        margin: 2rem 0 0 1.5rem;
    }
    &__line{
        width: 6rem;
        height: 0.5rem;
        background-color: $color-tertiary;
        align-self: flex-start;
        margin: 0 0 1rem 1.5rem;
    }

    &__plat{ 
        opacity: 0;
        display: flex;
        width: 85%;
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: 0.3rem 0.3rem 0.5rem $color-shadow;
        margin-bottom: 1rem;
        padding: 1rem;
        &__title{
            overflow: hidden;
            white-space: nowrap; 
        }
        h3{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 1rem 5rem 0 1rem;
            margin: 0;
        }
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0 3rem 0rem 1rem;
        }
        &__price{
            display: flex;
            align-items: flex-end; 
        }
        &:nth-child(3){
            animation: animation-menu 1s forwards;
        }
        &:nth-child(4){
            animation: animation-menu 1s forwards;
            animation-delay: 200ms;
        }
        &:nth-child(5){
            animation: animation-menu 1s forwards;
            animation-delay: 400ms;
        }
        &:nth-child(8){
            animation: animation-menu 1s forwards;
        }
        &:nth-child(9){
            animation: animation-menu 1s forwards;
            animation-delay: 200ms;
        }
        &:nth-child(10){
            animation: animation-menu 1s forwards;
            animation-delay: 400ms;
        }
        &:nth-child(13){
            animation: animation-menu 1s forwards;
        }
        &:nth-child(14){
            animation: animation-menu 1s forwards;
            animation-delay: 200ms;
        }
        &:nth-child(15){
            animation: animation-menu 1s forwards;
            animation-delay: 400ms;
        }
        /*.anim{
            background-color: blue;
            margin: -1rem -1rem -1rem .1rem;
            border-radius: 0 1.5rem 1.5rem 0;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .check{
            background-color: brown;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            border-radius: 2.5rem;
            i{
                font-size: 1.5rem;
            }
        }*/
    }
    &__command-button{
        margin: 4rem auto 8rem auto;
        display: block;
        @include command-button;
        padding: 2rem 5rem;
    }
}

/*.test{
    background-color: brown;
    width: 1px;
    border-radius: 0 1.5rem 1.5rem 0;
}*/







