/* animation cascade menu pages restaurants */

@keyframes animation-menu{
    0%{
        opacity:0;
        transform: translateY(20px);
    }
    100%{
        opacity: 100;
    }
}


/* Animation loading spinner page d'accueil */

@keyframes loading-spinner-translateY{
    0%{
        transform: translateY(-600px);
        opacity: 0;

    }

    65%{
        transform: translateY(0px);
    }

    75%{
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes loading-spinner-scale{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes loading-spinner-color {
    0%       {color: $color-primary;}
    10%      {color: $color-secondary;}
    20%      {color: $color-tertiary;}
    30%      {color: $color-primary;}
    40%      {color: $color-secondary;}
    50%      {color: $color-tertiary;}
    60%      {color: $color-primary;}
    70%      {color: $color-secondary;}
    80%      {color: $color-tertiary;}
    90%      {color: $color-primary;}
}

@keyframes hide {
    0%{visibility: visible;}
    100% {visibility: hidden;}
    }

    /* animation check */

@keyframes test{
    0%{
        transform: scaleX(0);
        transform-origin: 100%;   
    }
   

    100%{
        transform: scaleX(1);
        transform-origin: 100%;
    }
}


@keyframes check-rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}