/* bouton fonctionnement */

@mixin operation-button{
    &__button{
        position: relative;
        background-color: $background-light;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3.5rem 2rem 3.5rem;
        padding: 3rem 0rem;
        border-radius: 2.5rem;
        box-shadow: 0.3rem 0.3rem 0.5rem $color-shadow;
        text-decoration: none;
        transition: 0.5s;
        &__logo{
            position: absolute;
            left: 4rem;
            font-size: 2rem;
            color: gray;
        }
        &__number{
            position: absolute;
            left: -1.2rem;
            background-color: $color-primary;
            padding: 0.3rem 0.8rem;
            border-radius: 2.5rem;
            font-size: 1.2rem;
            color: white;
        }
    }
}

@mixin operation-button-queries-desktop{
    &__button{
        width: 100%;
    }
}

/* bouton commande + explorer */

@mixin command-button {
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-size: 1.5rem;
    padding: 2rem 2.5rem;
    border-radius: 5rem;
    border: none;
    box-shadow: 0rem 0.3rem 1.5rem $color-shadow;
}

@mixin command-button-light{
    background: linear-gradient(scale-color($color-secondary,$lightness:10%),
    scale-color($color-primary,$lightness:10%));
    box-shadow: 0rem 0.3rem 1.5rem $color-shadow-dark;
}

/* bouton nouveau sur carte restaurant */
        
@mixin new-button{
    background-color: $color-tertiary;
    color: black;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.1rem;
}


