$color-primary: hsl(267,66%,60%);
$color-secondary: hsl(317,100%,74%);
$color-tertiary: hsl(165,56%,74%);

$background-light: hsl(240,13%,97%);
$background-darkgrey: hsl(0,0%,16%);

$color-shadow: hsl(0,0%,50%);
$color-shadow-dark: hsl(0,0%,40%);